useDynLib(iClusterPlusUtils)
export(compute.pod,plotiCluster,iCluster,iCluster2,tune.iCluster2,iClusterPlus,tune.iClusterPlus,plotHeatmap,getBIC,getDevR,getClusters,CNregions,iClusterBayes,tune.iClusterBayes,plotHMBayes,iManual)
